 <table class="table table-striped table-hover tabla_detalle" id="datatable2" cellspacing="0" width="100%">
                <thead>
                  <tr class="titulo_tabla">
                    <th>#</th>
                    <th>Trabajador</th>
                    <th>C&eacute;dula</th>
                    <th>Unidad Adm.</th>
                    <th class="hide">Cargo</th>
                    <th>A&ntilde;o</th>
                    <th>Mes</th>
                    <th style="display:none">Motivo</th>
                    <th>Tipo</th>
                    <th>Total</th>
                    <th>Estatus</th>
                    <th style="width:110px;">Operaciones</th>
                  </tr>
                </thead>
                <tbody id="tbody_lista_nosotros" name="tbody_lista_nosotros" style="display:none">
				<!--row_horas_extras-->
				    <tr id='{tab}' data="{data}">
							<td>{i}</td>
							<td>{nombres}</td>
							<td>{cedula}</td>
							<td>{unidad}</td>
							<td class="hide">{cargo}</td>
							<td>{anio}</td>
							<td>{mes}</td>
							<td style="display:none">{motivo}</td>
							<td>{tipo}</td>
							<td>{total}</td>
							<td style="text-align:center">{estatus}</td>
							<td>{operaciones}</td>
					</tr>
				<!--row_horas_extras-->
				</tbody>
</table>				